.sidebar-component {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 15px;
  width: 200px;
  height: 100%;
  background: #223b38;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
}

.sidebar-title {
  margin: 0 5px;
  font-family: "Carneys Gallery Demo Version";
  font-size: 28px;
  margin-right: auto;
}

.sidebar-items {
  margin-top: 15%;
}

.sidebar-element {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 15% 0%;
}

.sidebar-element:hover {
  background: #1a2f2c;
  border-radius: 4px;
}

.sidebar-element img {
  width: 26px;
  height: 27px;
  padding: 2% 2%;
}
